name: ci

on: push

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true
      - name: Lint codebase
        run: bundle exec rubocop --parallel

  rspec:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: ['2.7', '3.0', '3.1', '3.2']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run specs
        run: bundle exec rspec

  yard:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true
      - name: Generate Ruby API documentation
        run : bundle exec yard doc
      - name: Generate Ruby API documentation artifact
        uses: actions/upload-artifact@v3
        with:
          name: docs-ruby
          path: docs/ruby

  pages:
    if: github.ref_name == 'ci-with-pages'
    needs:
      - rubocop
      - rspec
      - yard
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Fetch Ruby API documentation artifact
        uses: actions/download-artifact@v3
        with:
          name: docs-ruby
          path: docs/ruby
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload Pages
        uses: actions/upload-pages-artifact@v2
        with:
          path: docs
      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v2
